<div class="fail">

  <generic-head></generic-head>

  <div class="content">

    <img src="../../../../assets/images/fail.svg" alt="success" />

    <h3>{{ "paypangoWallet.fail.title" | translate }}</h3>

    <p>{{message}}. {{ "paypangoWallet.fail.content" | translate }}</p>

    <button>{{ "paypangoWallet.fail.btn" | translate }}</button>

    <div class="company">

      <small>{{ 'paypangoWallet.fail.popUp.footerSm.span1' | translate }}<br />
        {{ 'paypangoWallet.fail.popUp.footerSm.span2' | translate }}</small>
    </div>

  </div>