<mobilebghead [param]="mobilebghead"></mobilebghead>

<div class="page-container">
  <bghead></bghead>

  <div class="fail">

    <generic-head></generic-head>

    <div class="content">

      <img src="../../../../../../assets/images/fail.svg" alt="success" />

      <h3>{{ "paypangoWallet.fail.title" | translate }}</h3>

      <p>{{ "paypangoWallet.fail.errorGeneric" | translate }} {{ "paypangoWallet.fail.content" | translate }}</p>

      <button>{{ "paypangoWallet.fail.btn" | translate }}</button>
    </div>

  </div>
</div>