<div class="payment-waiting">

  <generic-head></generic-head>

  <div class="content">

    <img src="../../../../assets/images/payment-waiting.svg" alt="payment-waiting" />

    <h3>{{ 'paypangoWallet.paymentWaiting.title' | translate }}</h3>

    <p>{{ 'paypangoWallet.paymentWaiting.content' | translate }} </p>

    <div class="company">
      <small>{{ 'paypangoWallet.paymentWaiting.popUp.footerXl' | translate }}</small>

      <small>{{ 'paypangoWallet.paymentWaiting.popUp.footerSm.span1' | translate }}<br />
        {{ 'paypangoWallet.paymentWaiting.popUp.footerSm.span2' | translate }}</small>
    </div>

  </div>

</div>