<div class="success">

  <generic-head></generic-head>

  <div class="content">

    <img src="../../../../assets/images/paypango-success-logo.svg" alt="success" />

    <h3>{{ "paypangoWallet.success.title" | translate }}</h3>

    <p>{{message}}</p>

    <div class="company">
      <small>{{ 'paypangoWallet.success.popUp.footerXl' | translate }}</small>

      <small>{{ 'paypangoWallet.success.popUp.footerSm.span1' | translate }}<br />
        {{ 'paypangoWallet.success.popUp.footerSm.span2' | translate }}</small>
    </div>
  </div>

</div>