<div class="page-container">

  <div class="footer">

    <img src="../../../../assets/images/logo.svg" alt="logo" />

    <div class="content">

      <div class="company">
        <h3>{{"footerTop" | translate}}</h3>

        <p>Maslak Mah. Eski Büyükdere Cad. No:7/77
          Sarıyer/İSTANBUL</p>

        <a class="email" target="_blank" href="mailto:info@paypango.com">info@paypango.com</a>
      </div>

      <hr class="mobile-hr" />

      <div class="bank">
        <h3>Türkiye Cumhuriyeti Merkez Bankası (TCMB)</h3>

        <p>Hacı Bayram Veli Mah. İstiklal Cad. No:10 06050 <br />
          Ulus Altıdağ Ankara <br />
          0312 507 50 00</p>

        <a class="email" target="_blank" href="destek@paypango.com">destek@paypango.com</a>

        <span>085034400000</span>
      </div>

      <div class="bank-social">

        <div class="bank-logo">
          <img src="../../../../assets/images/footer-bkm.svg" alt="bkm" />

          <img src="../../../../assets/images/footer-tcm.svg" alt="tcm" />

          <img src="../../../../assets/images/footer-visa.svg" alt="visa" />
        </div>

        <div class="social-logo">
          <a href="https://www.linkedin.com/company/paypango/about/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>

          <a href="" target="_blank"><i class="fab fa-twitter"></i></a>

          <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

      </div>

      <hr class="mobile-hr" />

    </div>

    <div class="bottom">
      <p>{{"footerBottom" | translate}}</p>

      <ul>
        <li><a href="../../../../assets/documents/Musteri-Cerceve-Sozlesmesi.pdf" target="_blank">{{"footerPdf.first" |
            translate}}</a>
        </li>
        <li><a href="../../../../assets/documents/Gizlilik-Politikasi.pdf" target="_blank">{{"footerPdf.second" |
            translate}}</a>
        </li>
        <li> <a href="../../../../assets/documents/KVKK.pdf" target="_blank">{{"footerPdf.third" | translate}}</a></li>
      </ul>

    </div>

  </div>

</div>