@keyframes animationToastWidth {
  0% {
    width: 0;
  }

  100% {
    width: 300px;
  }
}

@keyframes animationToastText {
  0% {
    visibility: hidden;
  }

  80% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes animationOrderDetails {
  0% {
    height: 0;
  }

  100% {
    height: 452px;
  }
}

@keyframes animationOrderDetailsSmall {
  0% {
    height: 0;
  }

  100% {
    height: 585px;
  }
}

@keyframes animationVisible {
  0% {
    visibility: hidden;
  }

  80% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}


